/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

h1 h2 h3 {
  font-family: 'Raleway', sans-serif;
}

* {
  padding: 8px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// custom styling

.z-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.z-subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #8e8e8e;
  margin: 20px 0 30px 0;
}

.z-secondary-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0 20px 0;
}

.z-intro {
}

.z-body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #8e8e8e;
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.z-tertiary-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 20px 0;
}

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
